#!/bin/bash

# MIT License
#
# Copyright (c) 2026-present Murat Eken
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

export PROJECT_ID=${gcp_project_id}
export REGION=${gcp_region}
export BUCKET=${gcs_bucket}
export CLUSTER_ID=${cluster_id}
export DB_ROOT_USR="postgres"
export DB_ROOT_PWD=${database_root_pwd}
export DB_NAME=${database_name}
export DB_SA_USR=${database_sa_usr}


# Suppressing some warnings
echo 'debconf debconf/frontend select Noninteractive' | debconf-set-selections

# Installing the OS dependencies
apt-get install -y default-jre wget unzip postgresql-client tmux

wget -O kafka_2.13-3.7.2.tgz https://dlcdn.apache.org/kafka/3.7.2/kafka_2.13-3.7.2.tgz
tar -xzf kafka_2.13-3.7.2.tgz -C /opt/

export KAFKA_HOME="/opt/kafka_2.13-3.7.2"
wget https://github.com/googleapis/managedkafka/releases/download/v1.0.5/release-and-dependencies.zip
unzip -n -j release-and-dependencies.zip -d $KAFKA_HOME/libs/

chmod -R +rx $KAFKA_HOME

cat <<'EOF' >> /etc/profile
export KAFKA_HOME="/opt/kafka_2.13-3.7.2"
export PATH=$PATH:$KAFKA_HOME/bin
export CLASSPATH=$CLASSPATH:$KAFKA_HOME/libs/release-and-dependencies/*:$KAFKA_HOME/libs/release-and-dependencies/dependency/*
EOF

cat <<EOF >> /etc/profile
export BOOTSTRAP="bootstrap.$CLUSTER_ID.$REGION.managedkafka.$PROJECT_ID.cloud.goog:9092"
EOF

cat <<EOF >> $KAFKA_HOME/config/client.properties
security.protocol=SASL_SSL
sasl.mechanism=OAUTHBEARER
sasl.login.callback.handler.class=com.google.cloud.hosted.kafka.auth.GcpLoginCallbackHandler
sasl.jaas.config=org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required;
EOF

# Setting up the database
wget -O cloud-sql-proxy https://storage.googleapis.com/cloud-sql-connectors/cloud-sql-proxy/v2.20.0/cloud-sql-proxy.linux.amd64
chmod +x cloud-sql-proxy
./cloud-sql-proxy --private-ip "$PROJECT_ID:$REGION:$DB_NAME" &

sleep 5

CONN_STR="host=127.0.0.1 port=5432 sslmode=disable dbname=filter user=$DB_ROOT_USR password=$DB_ROOT_PWD"

cat <<EOF >> /tmp/setup.sql
GRANT pg_read_all_data TO "$DB_SA_USR";
CREATE TABLE filter_data (
  values varchar(255)
);
EOF

psql "$CONN_STR" < /tmp/setup.sql

# Importing the sample (filter) data
wget -O primes-10M.txt.gz https://github.com/meken/gcp-dataflow-kafka-sql/releases/download/v1.0/primes-10M.txt.gz
gcloud storage cp primes-10M.txt.gz "gs://$BUCKET/"

CLOUD_SQL_SA=$(gcloud sql instances describe "$DB_NAME" \
  --project="$PROJECT_ID" \
  --format="value(serviceAccountEmailAddress)")
gcloud storage buckets add-iam-policy-binding "gs://$BUCKET" \
    --member="serviceAccount:$CLOUD_SQL_SA" \
    --role=roles/storage.objectViewer

sleep 30

yes | gcloud sql import csv "$DB_NAME" \
  --database filter \
  --table filter_data \
  "gs://$BUCKET/primes-10M.txt.gz"

cat <<EOF >> /tmp/index.sql
CREATE INDEX "idx_filter_data_values" ON filter_data (values);
EOF

psql "$CONN_STR" < /tmp/index.sql

# Installing UV for all
curl -LsSf https://astral.sh/uv/install.sh | env UV_UNMANAGED_INSTALL="/usr/local/bin" sh

# Getting the client files on local machine
wget -O /opt/client.zip https://github.com/meken/gcp-dataflow-kafka-sql/releases/download/v1.0/client.zip

echo "Startup script finished successfully"